<!-- 选择开票行程 -->
<div id="choice-ivoice-list">
    <div class="tips flex-align-center">
        <img src="./imgs/invoice/warning.png" alt=""> <span>可开具发票的订单金额为用户实际支付金额</span>
    </div>
    <div class="historyList">
        <div class="flex-align-center orderItem" ng-repeat="item in pageData.historyList">
           <div ng-if="!item.ischeck"  ng-click="checkF(item)">
               <img class="radio" src="./imgs/invoice/radio.png" alt="">
            </div>
            <div ng-if="item.ischeck" ng-click="checkF(item)">
                <img class="radio" src="./imgs/invoice/radioCheck.png" alt="">
            </div>
           <div class="orderInfo">
               <div class="flex-align-center">
                    <img src="./imgs/clock.png" alt="">
                    <span>{{item.StartDateTime}}</span>
                </div>
                <div class="flex-align-center">
                    <img src="./imgs/car-pickup.png" alt="">
                    <span>{{item.PickupAddress}}</span>
                </div>
                <div class="flex-align-center">
                    <img src="./imgs/car-down.png"  alt="">
                    <span>{{item.DestAddress}}</span>
                </div>
           </div>
           <div><span class="red">{{item.PaidPrice}}</span>元</div>
        </div>
        
    </div>
    <div class="footer flex-between">
        <div>
            <div class="flex-align-center" ng-if="!pageData.isALLcheck">
                <img class="radio" ng-click="ALLcheckF()" src="./imgs/invoice/radio.png" alt="">
                <span>全选</span>
            </div>
            <div class="flex-align-center" ng-if="pageData.isALLcheck">
                    <img class="radio" ng-click="ALLcheckF()" src="./imgs/invoice/radioCheck.png" alt="">
                    <span>全选</span>
                </div>
            <div>
                已选择<span class="red">4</span >个行程,共<span class="red">85</span>元
            </div>
        </div>
       <div class="nextBtn ">
           下一步
       </div>
    </div>
</div>
