<div id="common-address">
    <div class="c-a-list" ng-click="clickAddr('home')">
        <img class="c-a-type" src="./imgs/addr-home.png">
        <div class="c-a-box">
            <div class="c-a-name">家</div>
            <div class="c-a-addr" ng-if="!addrInfo.home">设置家庭地址</div>
            <div class="c-a-addr" ng-if="addrInfo.home">{{addrInfo.home.Address}}</div>
        </div>
        <div class="c-a-action c-red" ng-show="addrInfo.home" ng-click="delete('home')">删除</div>
    </div>
    <div class="c-a-list" ng-click="clickAddr('company')">
        <img class="c-a-type" src="./imgs/addr-company.png">
        <div class="c-a-box">
            <div class="c-a-name">公司</div>
            <div class="c-a-addr" ng-if="!addrInfo.company">设置公司地址</div>
            <div class="c-a-addr" ng-if="addrInfo.company">{{addrInfo.company.Address}}</div>
        </div>
        <div class="c-a-action c-red" ng-show="addrInfo.company" ng-click="delete('company')">删除</div>
    </div>
    <!--从首页进入的查询地址-->
    <div id="address" class="fixed-box" ng-show="!isCity" ng-class="{'true':'bw-show-box'}[typeParams.showSetAddr]">
        <div class="addr-top">
            <span class="select-city-name">{{selectedInteriorCity || curCityName}} </span>
            <input class="bw-input" type="text" input-placeholder="请输入地址" ng-model="addressWords" ng-keydown="addressKeyDown($event)" />
            <img class="search" src="./imgs/search.png" alt="" ng-click="getAddress()">
        </div>

        <div class="box">
            <div class="addr-list" ng-click="selectAddress(app)" ng-repeat="app in mapData">
                <img class="addr-img" src="./imgs/address.png" alt="">
                <div class="addr-info-box">
                    <div class="addr-title bw-nowrap">{{app.name}}</div>
                    <div class="addr-info bw-nowrap">{{app.addressInfo}}</div>
                </div>
            </div>
        </div>
    </div>
    <!--从设置进入的-->
    <div id="address" class="fixed-box" ng-show="isCity" ng-class="{'true':'bw-show-box'}[typeParams.showSetAddr]">
        <!-- <div class="addr-top">
            <span>成都</span>
            <input class="bw-input" type="text" input-placeholder="请输入地址" ng-model="addressWords" ng-keydown="addressKeyDown($event)" />
            <img class="search" src="./imgs/search.png" alt="" ng-click="getAddress()">
        </div> -->
        <div class="addr-top">
            <span class="select-city-name" ng-click="toSelectCity()">{{selectedInteriorCity||curCityName}}</span>
            <img class="select-city-down" src="../imgs/select-city-down.png" alt="">
            <input class="bw-input" type="text" input-placeholder="请输入地址" ng-model="addressWords" ng-keydown="addressKeyDown($event)" />
            <img class="search" src="./imgs/search.png" alt="" ng-click="getAddress()">
        </div>
        <div class="box">
            <div class="addr-list" ng-click="selectAddress(app)" ng-repeat="app in mapData">
                <img class="addr-img" src="./imgs/address.png" alt="">
                <div class="addr-info-box">
                    <div class="addr-title bw-nowrap">{{app.name}}</div>
                    <div class="addr-info bw-nowrap">{{app.addressInfo}}</div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view="selectAddress"></div>
    <div ui-view="selectCity"></div>
</div>