<style>
    #invoice-detail{padding-top: 0.15rem}
    #invoice-detail .title{padding: 0.2rem 0.3rem;}
    #invoice-detail .oneline{background: #fff;border-bottom: 1px solid rgba(227,227,227,1)}
    #invoice-detail .flex{display: flex;justify-content:space-between;align-items: center;padding: 0.3rem;}
    #invoice-detail .oneline.noborder{border-bottom:0}
    #invoice-detail .oneline.marginbox{margin: 0.2rem 0}
    #invoice-detail .flex img{width: 0.12rem}
    #invoice-detail .red{color: rgba(255,54,77,1)}
</style>
<!-- 开发票页面 -->
<div id="invoice-detail">
    <div class="oneline flex noborder">
        <div>电子发票</div>
        <div>已开具<img src="./imgs/arrow-right-c.png" /></div>
    </div>
    <div class="title">发票信息</div>
    <div class="invoiceInfo">
        <div class="flex oneline">
            <div>发票抬头</div>
            <div>这个公司</div>
        </div>
        <div class="flex oneline">
            <div>税号</div>
            <div>8542668412287</div>
        </div>
        <div class="flex oneline">
            <div>发票内容</div>
            <div>运输服务费</div>
        </div>
        <div class="flex oneline">
            <div>开票金额</div>
            <div><span class="red">70.0</span>元</div>
        </div>
        <div>
            <div class="flex oneline">
                <div>企业地址</div>
                <div>运输服务费</div>
            </div>
            <div class="flex oneline">
                <div>电话号码</div>
                <div>运输服务费</div>
            </div>
            <div class="flex oneline">
                <div>开户银行</div>
                <div>运输服务费</div>
            </div>
            <div class="flex oneline">
                <div>银行账户</div>
                <div>运输服务费</div>
            </div>
        </div>
    </div>
    <div class="oneline flex marginbox">
        <div >电子邮箱</div>
        <div ></div>
    </div>
    <div class="oneline flex">
        <div >包含行程</div>
        <div >个行程<img src="./imgs/arrow-right-c.png" /></div>
    </div>

    
</div>