
    <!-- 开票历史 -->
<div id="invoice-history">
    <div id="content">
        <div id="slideDown">
            <div id="slideDown1">
                <img id="slideImg" src="./imgs/touchDown.png" alt="">
                <p id="slideDownTips">松开刷新</p>
            </div>
        </div>
        <div id="invoice-list" ng-class="{false:'hideList'}[showInvoiceList]">
            <div class="repeat-box" ng-repeat="(key,app) in invoiceList" id="invoice-list-down{{key}}" on-finish-render-filters>
                <div class="list-box">
                    <div class="flex" ng-click="goDetail(app)">
                        <p>专车发票</p>
                        <div>已开票<img src="./imgs/arrow-right-c.png" /></div>
                        
                    </div>
                    <div>电子发票</div>
                    <div class="flex">
                        <div>2018年5月21日</div>
                        <div class="money"><b class="c-red">43</b>元</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bw-null" ng-show="noMessage">
            <img src="./imgs/orderListNone.png" />
            <div class="no-data-words">您还没有开票记录</div>
        </div>
    </div>

</div>
    